// variables
$warn: #e96900;

// common
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Helvetica, Microsoft Yahei, Menlo, Arial;
}

[v-cloak] {
	display: none;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.bc {
	margin-left: auto;
	margin-right: auto;
}

.ghost {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

input {
	padding: 8px;
	margin-top: 16px;
}

#app {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #2a333c;
	color: #333;
	z-index: 6;
}

/* chat */
.enter_nickname {
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
	// display: none;
	.form {
		width: 360px;
		height: auto;
		text-align: center;
		position: absolute;
		top: 240px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		p {
			font-size: 24px;
		}
	}
	.nickname {
		text-align: center;
		border: 0;
		border-bottom: 1px solid #ccc;
		font-size: 20px;
		color: #777;
	}
	.confirm {
		border: 1px solid #81cc7a;
		background: #81cc7a;
		color: #fff;
		border-radius: 4px;
	}
	p.warn {
		color: $warn;
		font-size: 14px;
		margin-top: 16px;
	}
}
.container {
	// width: 100%;
	// height: 100%;
	.wrapper {
		width: 544px;
		height: auto;
		background: #fff;
		border-radius: 4px;
	}
	.whoiam {
		width: 520px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		padding: 12px;
		/*background: #fff;*/
		font-size: 16px;
		border-bottom: 1px solid #ddd;
		margin-top: 80px;
		cursor: default;
		.p_text {
			font-size: 14px;
			color: #777;
		}
		.info {
			color: #ef6f67;
		}
	}
	.messages {
		width: 520px;
		height: 380px;
		padding: 12px;
		cursor: default;
		// background: #fff;
		.inner {
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
			.msg {
				text-align: center;
			}
			.scroller {
				will-change: -webkit-transform;
				will-change: transform;
				-webkit-transition: transform .3s;
				transition: transform .3s;
				-webkit-transition: -webkit-transform .3s;
				transition: -webkit-transform .3s;
			}
		}
		span {
			display: inline-block;
			max-width: 200px;
			height: auto;
			padding: 8px;
			border-radius: 4px;
			/*overflow: hidden;*/
			position: relative;
			margin-top: 24px;
			font-size: 14px;	
			white-space: pre-wrap;
			word-wrap: break-word;
			&.join {
				margin-top: 0;
				padding: 0;
				font-size: 12px;
				color: #ccc;
			}
			&.left, &.right {
				text-align: left;
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					display: block;
					width: 0;
					height: 0;
					border: 8px solid transparent;
				}
			}
			&.left {
				float: left;
				background: #D9F4FE;
				margin-left: 8px;
				&:after {
					border-right-color: #D9F4FE;
					left: -16px;
				}
				dt:last-child {
					left: 6px;
					white-space: nowrap;
				}
			}
			&.right {
				float: right;
				background: #F3F3F3;
				margin-right: 8px;
				&:after {
					border-left-color: #F3F3F3;
					right: -16px;
				}
				dt:last-child {
					right: 6px;
					white-space: nowrap;
				}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			dt:last-child {
				display: inline-block;
				position: absolute;
				top: -16px;
				font-size: 11px;
				color: #777;
			}
		}
	}
	.emoji {
		width: 528px;
		height: 24px;
		padding: 8px 8px 0;
		cursor: default;
		border-top: 1px solid #ddd;
		position: relative;
		i {
			margin-right: 12px;
			cursor: pointer;
		}
		.all {
			background-image: url(../img/all.png);
		}
		.shake_btn {
			background-image: url(../img/shake.png);
		}
		.image {
			background-image: url(../img/image.png);
			position: relative;
			.file {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				display: block;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				z-index: 2;
			}
		}
		.table {
			width: 300px;
			background: #fff;
			position: absolute;
			top: -200px;
			left: 6px;
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 0 0 6px 6px;
			-webkit-box-shadow: 410px 10px 28px 0 #ddd;
			box-shadow: 10px 10px 28px 0 #ddd;
			z-index: 3;
			&:before, &:after {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				position: absolute;
				left: 5px;
				bottom: -17px;
				border: 8px solid transparent;
				border-top-color: #ddd;
			}
			&:after {
				bottom: -16px;
				border-top-color: #fff;
			}
			i {
				float: left;
				margin: 6px 6px 0 0;
			}
		}
	}
	.text {
		width: 544px;
		height: auto;
		position: relative;
		.input {
			resize: none;
			border: 0;
			width: 520px;
			height: 80px;
			padding: 12px;
			overflow: auto;
			border-radius: 0 0 4px 4px;
			letter-spacing: 0.5px;
		}
		// .send {
		// 	border: 1px solid #81cc7a;
		// 	background: #81cc7a;
		// 	color: #fff;
		// 	border-radius: 4px;
		// 	margin: 0 0 0 16px;
		// 	padding: 4px 6px;
		// 	position: absolute;
		// 	right: 8px;
		// 	bottom: 8px;
		// 	z-index: 1;
		// }
	}
	.tip {
		color: #fff;
		font-size: 12px;
		text-align: center;
		padding: 12px 0;
		letter-spacing: 0.5px;
		cursor: default;
	}
}

/* animate start */

.fade-enter-active, .fade-leave-active {
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
.fade-enter, .fade-leave-active {
	opacity: 0;
}

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-12px, 0, 0);
		transform: translate3d(-12px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(12px, 0, 0);
		transform: translate3d(12px, 0, 0);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-12px, 0, 0);
		transform: translate3d(-12px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(12px, 0, 0);
		transform: translate3d(12px, 0, 0);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

/* animate end */

@media screen and (max-width: 640px) {
	.enter_nickname,
	.container {
		display: none;
	}
}