.em{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle}
.em-angry{background-image:url("emoji/angry.png")}
.em-anguished{background-image:url("emoji/anguished.png")}
.em-astonished{background-image:url("emoji/astonished.png")}
.em-blush{background-image:url("emoji/blush.png")}
.em-cold_sweat{background-image:url("emoji/cold_sweat.png")}
.em-confounded{background-image:url("emoji/confounded.png")}
.em-confused{background-image:url("emoji/confused.png")}
.em-cry{background-image:url("emoji/cry.png")}
.em-disappointed{background-image:url("emoji/disappointed.png")}
.em-disappointed_relieved{background-image:url("emoji/disappointed_relieved.png")}
.em-dizzy_face{background-image:url("emoji/dizzy_face.png")}
.em-expressionless{background-image:url("emoji/expressionless.png")}
.em-fearful{background-image:url("emoji/fearful.png")}
.em-flushed{background-image:url("emoji/flushed.png")}
.em-frowning{background-image:url("emoji/frowning.png")}
.em-grimacing{background-image:url("emoji/grimacing.png")}
.em-grin{background-image:url("emoji/grin.png")}
.em-grinning{background-image:url("emoji/grinning.png")}
.em-heart_eyes{background-image:url("emoji/heart_eyes.png")}
.em-hushed{background-image:url("emoji/hushed.png")}
.em-innocent{background-image:url("emoji/innocent.png")}
.em-joy{background-image:url("emoji/joy.png")}
.em-kissing_heart{background-image:url("emoji/kissing_heart.png")}
.em-laughing{background-image:url("emoji/laughing.png")}
.em-neutral_face{background-image:url("emoji/neutral_face.png")}
.em-no_mouth{background-image:url("emoji/no_mouth.png")}
.em-open_mouth{background-image:url("emoji/open_mouth.png")}
.em-scream{background-image:url("emoji/scream.png")}
.em-pensive{background-image:url("emoji/pensive.png")}
.em-persevere{background-image:url("emoji/persevere.png")}
.em-relaxed{background-image:url("emoji/relaxed.png")}
.em-satisfied{background-image:url("emoji/satisfied.png")}
.em-smile{background-image:url("emoji/smile.png")}
.em-sleepy{background-image:url("emoji/sleepy.png")}
.em-smirk{background-image:url("emoji/smirk.png")}
.em-sob{background-image:url("emoji/sob.png")}
.em-stuck_out_tongue_closed_eyes{background-image:url("emoji/stuck_out_tongue_closed_eyes.png")}
.em-sunglasses{background-image:url("emoji/sunglasses.png")}
.em-sweat_smile{background-image:url("emoji/sweat_smile.png")}
.em-tired_face{background-image:url("emoji/tired_face.png")}
.em-yum{background-image:url("emoji/yum.png")}
.em-mask{background-image:url("emoji/mask.png")}
.em-boy{background-image:url("emoji/boy.png")}
.em-alien{background-image:url("emoji/alien.png")}
.em-clap{background-image:url("emoji/clap.png")}
.em-facepunch{background-image:url("emoji/facepunch.png")}
.em-girl{background-image:url("emoji/girl.png")}
.em-imp{background-image:url("emoji/imp.png")}
.em-monkey_face{background-image:url("emoji/monkey_face.png")}
.em-octocat{background-image:url("emoji/octocat.png")}
.em-rage{background-image:url("emoji/rage.png")}
.em-see_no_evil{background-image:url("emoji/see_no_evil.png")}
.em-smiling_imp{background-image:url("emoji/smiling_imp.png")}
.em-speak_no_evil{background-image:url("emoji/speak_no_evil.png")}
.em-thumbsup{background-image:url("emoji/thumbsup.png")}
.em-thumbsdown{background-image:url("emoji/thumbsdown.png")}
.em-v{background-image:url("emoji/v.png")}
.em-trollface{background-image:url("emoji/trollface.png")}
.em-dog{background-image:url("emoji/dog.png")}
.em-broken_heart{background-image:url("emoji/broken_heart.png")}