<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>AlaChat</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/emoji.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	<nickname></nickname>
	<div class="container">
		<div class="wrapper bc">
			<div class="whoiam">
				<span class="name fl">Guest</span>
				<span class="info"></span>
				<b class="p_count p_text fr">0</b>
				<span class="p_text fr">Online:&nbsp;&nbsp;</span>
			</div>
			<div class="messages">
				<div class="inner clearfix">
					<ul class="left fl"></ul>
					<ul class="right fr"></ul>
				</div>
			</div>
			<div class="emoji">
				<i class="em all"></i><i class="em shake"></i><i class="em image"><input type="file" class="file" name="file" accept="images/*"></i>
				<div class="table clearfix ghost"></div>
			</div>
			<div class="text">
				<textarea name="input" class="input" placeholder="SEND MY MESSAGE" autofocus></textarea>
				<input type="button" class="send" value="SEND">
			</div>
		</div>
		<p class="tip">Enter to send, Ctrl + Enter to wrap.</p>
	</div>
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/socket.io.js"></script>
	<script type="text/javascript" src="/scripts/chat.js"></script>
</body>
</html>