doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		title AlaChat
		link(rel="icon", href="/faviocn.ico")
		link(rel="stylesheet", href="/css/main.css")
	body
		#app(v-cloak)
			.enter_nickname
				form
					p PLEASE ENTER YOUR NAME
					input.nickname(type="text", name="nickname", maxlength="20", autofocus, v-model="nickname", @keydown.13.prevent="confirm")
					br
					input.confirm(type="button", name="confirm", value="CONFIRM", @click.prevent="confirm")
			.container
				.wrapper.bc
					.whoiam.bc
						span.name.fl {{nickname}}
						span.info {{info}}
						b.p_count.p_text.fr {{p_count}}
						span.p_text.fr Online:&nbsp;&nbsp;
					.messages.bc
						.inner.clearfix
							.left.fl
								.msg(v-for="item in others")
									span {{item.msg}}
										dt {{item.name}}
							.right.fr
								.msg(v-for="item in yours") 
									span
										dt Me
					.emoji
						i.em.all
						i.em.shake
						i.em.image
							input.file(type="file", name="file", accept="images/*")
						.table.clearfix.ghost
							i(v-for="ct in cts" class="{{ct.className}}" title="{{ct.title}}")
					.text.bc
						textarea.input(name="input", placeholder="SEND MY MESSAGE", autofocus, @keydown.13.prevent="send")
						input.send(type="button", name="send", value='SEND', @click="send('hello', $event)")
				p.tip Enter to send, Ctrl + Enter to wrap.
		script(type="text/javascript" src="/dist/js/lib.min.js")
		script(type="text/javascript" src="/js/chat.js")