doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		title AlaChat
		link(rel="icon", href="/faviocn.ico")
		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="/css/emoji.css")
		link(rel="stylesheet", href="/css/common.css")
	body#app
		.enter_nickname
			form
				p PLEASE ENTER YOUR NAME
				input.nickname(type="text", name="nickname", maxlength="20", autofocus)
				br
				input.confirm(type="button", name="confirm", value="CONFIRM")
		.container
			.wrapper.bc
				.whoiam.bc
					span.name.fl Guest
					span.info
					b.p_count.p_text.fr 0
					span.p_text.fr Online:&nbsp;&nbsp;
				.messages.bc
					.inner.clearfix
						ul.left.fl
						ul.right.fr
				.emoji
					i.em.all
					i.em.shake
					i.em.image
						input.file(type="file", name="file", accept="images/*")
					.table.clearfix.ghost
				.text.bc
					textarea.input(name="input", placeholder="SEND MY MESSAGE", autofocus)
					input.send(type="button", name="send", value='SEND')
			p.tip Enter to send, Ctrl + Enter to wrap.
		script(type="text/javascript" src="/lib/jquery.min.js")
		script(type="text/javascript" src="/lib/socket.io.js")
		script(type="text/javascript" src="/lib/vue.min.js")
		script(type="text/javascript" src="/scripts/chat_vue.js")
		script(type="text/javascript" src="/scripts/chat.js")