doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title GoChat
		link(rel="icon", href="/faviocn.ico")
		link(rel="stylesheet", href="/dist/css/main.css")
	body
		#app(v-cloak @click="showEmojisTable")
			transition(name="slide-up")
				.enter-nickname(v-if="isNicknameShow")
					.form
						input.nickname(type="text", name="nickname", maxlength="20", autofocus, placeholder="Enter your nickname" v-model="nickname", @keydown.13.prevent="confirmNickname(nickname)")
						br
						input.confirm.box-shadow(type="button", name="confirm", value="Go Chat", @click.prevent="confirmNickname(nickname)")
						p.warn(v-show="isWarnShow") {{ confirmResult }}
			.container
				.wrapper.box-shadow.block-center(v-if="!isNicknameShow")
					.whoiam.bloack-center
						span.name.float-left {{ nickname }}
						transition(name="fade")
							span.info(v-show="isInfoShow") {{ info }}
						b.header-text.float-right {{ peopleCount }}
						span.header-text.float-right Online:&nbsp;&nbsp;
					.messages.block-center(:class="{ load: isGettingMsg }")
						.inner
							.scroller
								p.msg.clearfix(v-for="item in contents")
									span.join(v-if="item.isJoinShow") {{ item.text }}
									span(v-else, v-html="item.text", :class="[item.isYou ? rightMsgClass : leftMsgClass]")
					.emoji
						i.em.all(@click.stop="showEmojisTable")
						i.em.image
							input.file(type="file", name="file", accept="images/*", @click="sendImage")
						transition(name="slide-up-show")
							.table.clearfix(v-show="isEmojisShow")
								i(v-for="(emoji, index) in emojis", :class="emoji.className", :title="emoji.title", @click="chooseEmoji(index)")
					.text.block-center
						textarea.input(name="input", placeholder="Send Message", autofocus, v-model="typeMessage", @keydown.13.prevent="sendMessage")
				transition(name="slide-down-show")
					p.tip(v-if="!isNicknameShow") Enter to send, Ctrl + Enter to wrap.
		script(type="text/javascript", aysnc, src="/dist/js/bundle.js")
