<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>Login</title>
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
	
	<form class="login">
		Username: <input class="user" type="text" name="email&mobile" maxlength="20" placeholder="Email" value="12817882@qq.com"><br>
		Password: <input class="pwd" type="password" name="password" maxlength="20" placeholder="Password" value="!@#123"><br>
		<input class="submit" type="button" name="submit" value="Login">
	</form>
	<p class="errMsg"></p>
	
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/login.js"></script>
</body>
</html>