doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=640,maximum-scale=1,user-scalable=no")
		title Let's Shake
		link(rel="stylesheet", href="/css/pshake.css")
	body
		.container
			.inner
				p Shake Window With Your Phone
		script(type="text/javascript" src="/lib/jquery.min.js")
		script(type="text/javascript" src="/lib/socket.io.js")
		script(type="text/javascript" src="/lib/shake.js")
		script(type="text/javascript" src="/scripts/pshake.js")