<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>Register</title>
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
	
	<form class="register">
		<span class="input_title">Name:</span> <input class="name" type="text" name="name" maxlength="20" placeholder="Name" value="陈巴瑞"><br>
		<span class="input_title">Mobile:</span> <input class="mobile" type="tel" name="mobile" maxlength="11" placeholder="Mobile" value="15757125382"><br>
		<span class="input_title">Email:</span> <input class="email" type="email" name="email" maxlength="50" placeholder="Email" value="barry.chen@nurun.com"><br>
		<span class="input_title">Password:</span> <input class="pwd" type="password" name="password" maxlength="16" placeholder="Password" value="pyt5%aRb"><br>
		<span class="input_title">rPassword:</span> <input class="rPwd" type="password" name="rPassword" maxlength="16" placeholder="Password Again" value="pyt5%aRb"><br>
		<input class="submit" type="button" name="submit" value="Register"><span class="or">or</span><a href="/login" class="login_btn">Login</a>
	</form>
	<p class="errMsg"></p>
	
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/register.js"></script>
</body>
</html>