doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		title Register
		link(rel="icon", href="/faviocn.ico")
		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="/css/common.css")
	body
		form.register
			span.input_title Name:
			input.name(type="text", name="name", maxlength="20", placeholder="Name")
			br
			span.input_title Mobile:
			input.mobile(type="tel", name="mobile", maxlength="11", placeholder="Mobile")
			br
			span.input_title Email:
			input.email(type="email", name="email", maxlength="50", placeholder="Email")
			br
			span.input_title Password:
			input.pwd(type="password", name="password", maxlength="16", placeholder="Password")
			br
			span.input_title Email:
			input.rPwd(type="password", name="password", maxlength="16", placeholder="Password Again")
			br
			input.submit(type="button", name="submit", value="Register")
			span.or
			a.login_btn(href="/login")
		p.errMsg
		script(type="text/javascript", src="/scripts/lib/jquery.min.js")
		script(type="text/javascript", src="/scripts/register.js")